@media (min-width: 576px) {

    .modal-dialog {

      max-width: 90%;

    }

    .modal-dialog .modal-content {

      padding: 1rem;

    }

  }

.form-group{

    margin-top: 1.8%;

    padding-top: 1%;

}

.container{

    margin-top: -3%;

}

.modal{

  width: 100%;

}