<h3>Withdraw Money</h3>

<div class="card">
  <div class="card-body">
<form class="form-group" (ngSubmit)="withdraw()" ngNativeValidate>
    <div class="form-group">
      <label for="name">Uid</label>
      <input type="text" class="form-control" id="uid" required [(ngModel)]="uid" name="uid">
    </div>
    <div class="form-group">
        <label for="name">Balance</label>
        <input type="text" class="form-control" id="amount" required [(ngModel)]="amount" name="amount">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</div> 
